<form #f="ngForm" (ngSubmit)="create(f)">
    <div class="form-group">
        <label for="courseName">Course Name</label>
        <input required minlength="5" ngModel 
            #courseName="ngModel" class="form-control" type="text" id="courseName" name="courseName" (click)="log(courseName)">
        <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
            <div *ngIf="courseName.errors?.required">Course Name is required.</div>
            <div *ngIf="courseName.errors?.minlength">
                Minimum {{ courseName.errors?.minlength.requiredLength }} characters are required.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" required ngModel #category="ngModel" name="category" id="category">
            <option value="">Not selected</option>
            <option *ngFor="let category of coursesCategory" [value]="category.id">{{ category.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && !category.valid">Category required.</div>
    </div>

    <div class="checkbox">
        <label for="moneyBackGuarantee">
            <input ngModel type="checkbox" name="hasGuarantee" id="moneyBackGuarantee">
            30-day money back guarantee?
        </label>
    </div>

    <p>{{ f.value | json }}</p>

    <button class="btn btn-primary" [disabled]="f.invalid">Create</button>

</form>