<form [formGroup]="form" (ngSubmit)=log()>
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input  
            formControlName="oldPassword"
            id="oldPassword"
            class="form-control"
            type="text">
        <div *ngIf="oldPassword?.pending">Comparing old password</div>
        <div class="alert alert-danger" *ngIf="oldPassword?.touched && oldPassword?.invalid">
            <div *ngIf="oldPassword?.errors?.required">Old Password Required</div>
            <div *ngIf="!oldPassword?.errors?.passwordMatch">Old Password does not match</div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
            formControlName="newPassword" 
            id="newPassword"
            type="text" 
            class="form-control">
            <div class="alert alert-danger" *ngIf="newPassword?.touched && newPassword?.invalid">
                <div *ngIf="newPassword?.errors?.required">New Password Required</div>
            </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
            formControlName="confirmPassword" 
            id="confirmPassword"
            type="text" 
            class="form-control">
            <div class="alert alert-danger" *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
                <div *ngIf="confirmPassword?.errors?.required">Confirm Password Required</div>
            </div>
            <div
                *ngIf="confirmPassword?.valid && form.invalid && form.errors?.passwordShouldMatch"
                class= "alert alert-danger"
                >Password does not match.
            </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>